h1 {
}

body {
    background-color: rgba(10, 214, 207, 0.752);
  }
button {
  width: 100px;
  height: 50px;
  background-color: lightgrey;
  transition transition-property: ;: background-color, height, width: ;
  transition: 1s, 1s, 1s;
  cursor: pointer;
  position: fixed;
  left: 700px;
  top: 100px;
}
button:hover {
  height: 10%;
  width: 10%;
  background-color: white;
  box-shadow:100% 100% 100% 100% rgba(0,0,0,0.6)
  position: fixed;
  left: 680px;
  top: 90px;
}